{{/* Single page template. Two branches: blog essays (h1 + date) and pillar posts (h1 + release date + franchise/pillar breadcrumb). Pillar branch triggers for types listed in site.Params.pillars. */}}
{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
{{ if in site.Params.pillars .Type }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    {{ if .Params.release }}<time datetime='{{ .Params.release }}'>Released {{ (time .Params.release).Format "2006.01.02" }}</time>{{ else }}<time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}</time>{{ end }}
  </i>
</p>
<p>
  {{ $f := .Params.franchise }}
  {{ if $f }}{{ with site.GetPage (printf "/franchise/%s" $f) }}<a href="{{ .RelPermalink }}">{{ .Title }}</a> → {{ end }}{{ end }}<a href="/{{ $.Type }}/">{{ $.Type | title }}</a>
</p>
{{ end }}
<content>
  {{ .Content }}
</content>
{{ if eq .Type "blog" }}{{ if (.Param "enablePostNavigator")}}
{{- partial "post_navigator.html" . -}}
{{ end }}{{ end }}
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
{{ end }}
