<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<style>
  :root {
    color-scheme: light;
    --background-color: #fff;
    --heading-color: #222;
    --text-color: #444;
    --link-color: #0000ff;
    --visited-color: #0000ff;
    --blockquote-color: #222;
    --font-main: InterDisplay, Inter, sans-serif;
    --font-secondary: Inter, sans-serif;
    --font-mono: "IBM Plex Mono", monospace;
    font-feature-settings: 'liga' 1, 'calt' 1;
  }
  @supports (font-variation-settings: normal) {
    :root {
      --font-main: InterDisplayVariable, InterDisplay, InterVariable, Inter, sans-serif;
      --font-secondary: InterVariable, Inter, sans-serif;
    }
  }
  time {
    font-family: var(--font-mono);
  }
  .title h2 {
    font-family: var(--font-main);
    font-weight: 900;
  }
  .tagline a {
    color: var(--heading-color);
    text-decoration: underline solid;
    text-decoration-color: var(--link-color);
    text-underline-offset: 3px;
  }
  .tagline a:hover {
    text-decoration: none;
  }
  footer {
    padding: 20px 0;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .footer-year {
    font-family: var(--font-main);
    color: var(--heading-color);
  }
  .footer-slash {
    font-family: var(--font-secondary);
    font-weight: 100;
    color: var(--text-color);
    opacity: 0.5;
    font-size: 1.4em;
    line-height: 1;
  }
  .footer-brand {
    font-family: var(--font-main);
  }
  .to-top {
    color: var(--heading-color);
    text-decoration: none;
  }
  .to-top:hover {
    text-decoration: none;
  }
  body:not(.is-scrollable) .to-top {
    display: none;
  }
</style>
