{{ define "main" }}
<content>
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ $s := .Site }}
  <nav>
    {{ range slice "film" "series" "books" "games" "music" }}
    {{ with $s.GetPage (printf "/%s" .) }}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
    {{ end }}
  </nav>
  <ul style="list-style:none;padding:0;margin:1em 0 0 0;display:grid;grid-template-columns:max-content 1fr;column-gap:0.3em;">
    {{ range slice "film" "series" "books" "games" "music" }}
    {{ with $s.GetPage (printf "/%s" .) }}
    {{ $pname := .Title }}
    {{ range .RegularPages }}
    <li style="display:contents;"><span style="font-weight:bold;">{{ $pname }}</span><span>→ <a href="{{ .RelPermalink }}">{{ .Title }}</a></span></li>
    {{ end }}
    {{ end }}
    {{ end }}
  </ul>
</content>
{{ end }}
